---
# Common commands:
# pre-commit install
# pre-commit autoupdate
# pre-commit run --all-files copier-template-tester
# pre-commit run --all-files --hook-stage commit
# pre-commit run --all-files --hook-stage push
# poetry run calcipy lint.pre-commit --no-update
#
# See https://pre-commit.com for more information
#  and https://pre-commit.com/hooks.html for more hooks

# Only commit is installed by default: https://pre-commit.com/#pre-commit-install
# Pending rename of pre-push from: https://github.com/pre-commit/pre-commit/issues/2732
default_install_hook_types: ["commit-msg", "pre-commit", "pre-push"]

exclude: CHANGELOG\.md|poetry\.lock

repos:
  - repo: https://github.com/kyleking/copier-template-tester
    rev: 2.2.0
    hooks:
      - id: copier-template-tester
  - repo: local
    hooks:
      # Note: pre-commit hooks are tested here with 'sync_with_ctt.sh'
      # Running pre-commit within pre-commit is possible with `pre-commit hazmat cd`,
      #  but not advised and the existing workaround is sufficient
      - id: run-tox-ruff-in-ctt-default
        name: Run tox ruff in .ctt/default
        entry: bash -c 'cd .ctt/default/ && tox -e ruff'
        language: system
        files: \.ctt/default/.+
        pass_filenames: false
      - id: run-tox-test-min-in-ctt-default
        name: Run tox test in .ctt/default
        entry: bash -c 'cd .ctt/default/ && tox -e test-min'
        language: system
        files: \.ctt/default/.+
        pass_filenames: false
      - id: run-tox-type-in-ctt-default
        name: Run tox type in .ctt/default
        entry: bash -c 'cd .ctt/default/ && tox -e type'
        language: system
        files: \.ctt/default/.+
        pass_filenames: false

  # Enforce commits that CD Action will recognize for auto-releases
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
      - id: commitizen
  # Sync below config with 'package_template'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        args: [--unsafe]
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: \.copier-answers\.yml|__snapshots__/.*\.ambr
      - id: fix-byte-order-marker
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: [--fix=auto]
      - id: pretty-format-json
        args: [--autofix, --indent=4]
      - id: trailing-whitespace
        exclude: __snapshots__/.*\.ambr
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-mkdocs[recommended-mdsf]>=5.0.1
          - mdformat-gfm-alerts>=2.0.0
        args: [--wrap=no]
        exclude: tests/.+\.md
        stages: ["pre-commit"]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        stages: ["pre-commit"]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.35.0
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
        stages: ["pre-commit"]
      - id: check-dependabot
        args: ["--verbose"]
        stages: ["pre-commit"]
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort-fix
        stages: ["pre-commit"]
