# {{ package_name_kebab }}

[![Build Status][ci-badge]][ci-link] [![PyPI version][pypi-badge]][pypi-link]

An [mdformat](https://github.com/executablebooks/mdformat) plugin for `<placeholder>`

## `mdformat` Usage

Add this package wherever you use `mdformat` and the plugin will be auto-recognized. No additional configuration necessary. See [additional information on `mdformat` plugins here](https://mdformat.readthedocs.io/en/stable/users/plugins.html)

### Pre-Commit

```yaml
repos:
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat
        additional_dependencies:
          - {{ package_name_kebab }}
```

### pipx/uv

```sh
pipx install mdformat
pipx inject mdformat {{ package_name_kebab }}

uv tool run --from {{ package_name_kebab }} mdformat
```

## HTML Rendering

To generate HTML output, `{{ plugin_name }}_plugin` can be imported from `mdit_plugins`. For more guidance on `MarkdownIt`, see the docs: <https://markdown-it-py.readthedocs.io/en/latest/using.html#the-parser>

```py
from markdown_it import MarkdownIt

from mdformat_{{ plugin_name }}.mdit_plugins import {{ plugin_name }}_plugin

md = MarkdownIt()
md.use({{ plugin_name }}_plugin)

text = "... markdown example ..."
md.render(text)
# <div>
#
# </div>
```

## Contributing

See [CONTRIBUTING.md]({{ repository_url }}/blob/main/CONTRIBUTING.md)

[ci-badge]: {{ repository_url }}/workflows/CI/badge.svg?branch=main
[ci-link]: {{ repository_url }}/actions?query=workflow%3ACI+branch%3Amain+event%3Apush
[pypi-badge]: https://img.shields.io/pypi/v/{{ package_name_kebab }}.svg
[pypi-link]: https://pypi.org/project/{{ package_name_kebab }}
